:root {
  --mobile-breakpoint: 600px;
}


.--dark-theme {
    --chat-background: rgba(10, 14, 14, 0.95);
    --chat-panel-background: #131719;
    --chat-bubble-background: #14181a;
    --chat-bubble-active-background: #171a1b;
    --chat-add-button-background: #212324;
    --chat-send-button-background: #8147fc;
    --chat-text-color: #a3a3a3;
    --chat-options-svg: #a3a3a3;
  }
  
  body {
    background: url(images/kk.jpg) fixed;
    background-size: cover;
    margin: 0;
    overflow: hidden;
    animation-name: underwater-animation;
    animation-duration: 4s;
    animation-timing-function: linear; /* Change to linear for a continuous animation */
    animation-iteration-count: infinite;
  }
  
  
  @keyframes underwater-animation {
    0% {
      background-position: center;
    }
    25% {
      background-position: top;
    }
    50% {
      background-position: center;
    }
    75% {
      background-position: bottom;
    }
    100% {
      background-position: center;
    }
  }

  
  .chatbox-title {
    color: rgb(61, 26, 151);
    animation: fadeIn 1.5s ease-in-out;
    text-align: center;
  }

  @keyframes fadeIn {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }

  
h2 {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Times New Roman', serif;
  letter-spacing: 7px;
  text-align: center;
  position: relative;
}

h2 span {
  transition: 1s ease-in-out;
}

@keyframes continuousAnimation {
  0% {
      color: #4CAF50;
      text-shadow: 0 0 10px #4CAF50, 0 0 20px #4CAF50, 0 0 40px #4CAF50;
  }
  50% {
      color: #2196F3;
      text-shadow: 0 0 10px #2196F3, 0 0 20px #2196F3, 0 0 40px #2196F3;
  }
  100% {
      color: #4CAF50;
      text-shadow: 0 0 10px #4CAF50, 0 0 20px #4CAF50, 0 0 40px #4CAF50;
  }
}

@keyframes continuousAnimationSecondWord {
  0% {
      color: #4CAF50;
      text-shadow: 0 0 10px #4CAF50, 0 0 20px #4CAF50, 0 0 40px #4CAF50;
  }
  50% {
      color: #2196F3;
      text-shadow: 0 0 10px #2196F3, 0 0 20px #2196F3, 0 0 40px #2196F3;
  }
  100% {
      color: #4CAF50;
      text-shadow: 0 0 10px #4CAF50, 0 0 20px #4CAF50, 0 0 40px #4CAF50;
  }
}

h2 span:nth-child(1) {
  animation: continuousAnimation 5s infinite;
}

h2 span:nth-child(2) {
  animation: continuousAnimationSecondWord 5s infinite;
}

h2 span:nth-child(1):after {
  position: absolute;
  top: 0;
  right: 0;
}

h2 span:nth-child(2) {
  margin-left: 30px;
}

h2 span {
  color: #4CAF50;
  text-shadow: 0 0 10px #4CAF50, 0 0 20px #4CAF50, 0 0 40px #4CAF50;
}
  


  .subtitle {
    margin-top: 5px;
    font-size: 0.8em;
    color: #aaa; /* Adjust the color as needed */
}

.side-image {
  position: fixed;
  height: 100vh; /* Adjust the height as needed */
  width: auto;
  z-index: 1;
}

.left-side {
  left: 0;
}

.right-side {
  right: 0;
}

@media only screen and (max-width: var(--mobile-breakpoint)) {
  .side-image {
    display: none; /* Hide side images on small screens if needed */
  }
}

/* Add this to your CSS file */
.loading-circle {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #ffffff;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


  #chat {
    background: var(--chat-background);
    max-width: 600px;
    margin: 50px auto;
    height: 65vh;
    box-sizing: border-box;
    padding: 1em;
    padding-bottom: 20px;
    border-radius: 12px;
    position: relative;
    overflow: auto;  /* Enable scrolling only for chatbox */
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
  #chat::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images/kk.jpg) fixed;
    z-index: -1;
  }
  #chat .btn-icon {
    position: relative;
    cursor: pointer;
  }
  #chat .btn-icon svg {
    stroke: #FFF;
    fill: #FFF;
    width: 50%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #chat .chat__conversation-board {
    padding: 1em 0 2em;
    height: calc(100vh - 55px - 2em - 25px * 2 - .5em - 3em);
    overflow: hidden;
    flex: 1;
    overflow-y: auto;
  }
  #chat .chat__conversation-board__message-container.reversed {
    flex-direction: row-reverse;
  }
  #chat .chat__conversation-board__message-container.reversed .chat__conversation-board__message__bubble {
    position: relative;
  }
  #chat .chat__conversation-board__message-container.reversed .chat__conversation-board__message__bubble span:not(:last-child) {
    margin: 0 0 2em 0;
  }
  #chat .chat__conversation-board__message-container.reversed .chat__conversation-board__message__person {
    margin: 0 0 0 1.2em;
  }
  #chat .chat__conversation-board__message-container.reversed .chat__conversation-board__message__options {
    align-self: center;
    position: absolute;
    left: 0;
    display: none;
  }
  #chat .chat__conversation-board__message-container {
    position: relative;
    display: flex;
    flex-direction: row;
  }
  #chat .chat__conversation-board__message-container:hover .chat__conversation-board__message__options {
    display: flex;
    align-items: center;
  }
  #chat .chat__conversation-board__message-container:hover .option-item:not(:last-child) {
    margin: 0 0.5em 0 0;
  }
  #chat .chat__conversation-board__message-container:not(:last-child) {
    margin: 0 0 2em 0;
  }
  #chat .chat__conversation-board__message__person {
    text-align: center;
    margin: 0 1.2em 0 0;
  }
  #chat .chat__conversation-board__message__person__avatar {
    height: 35px;
    width: 35px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    position: relative;
  }
  #chat .chat__conversation-board__message__person__avatar::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
  }
  #chat .chat__conversation-board__message__person__avatar img {
    height: 100%;
    width: auto;
  }
  #chat .chat__conversation-board__message__person__nickname {
    font-size: 9px;
    color: #484848;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    display: none;
  }
  #chat .chat__conversation-board__message__context {
    max-width: 55%;
    align-self: flex-end;
  }
  #chat .chat__conversation-board__message__options {
    align-self: center;
    position: absolute;
    right: 0;
    display: none;
  }
  #chat .chat__conversation-board__message__options .option-item {
    border: 0;
    background: 0;
    padding: 0;
    margin: 0;
    height: 16px;
    width: 16px;
    outline: none;
  }
  #chat .chat__conversation-board__message__options .emoji-button svg {
    stroke: var(--chat-options-svg);
    fill: transparent;
    width: 100%;
  }
  #chat .chat__conversation-board__message__options .more-button svg {
    stroke: var(--chat-options-svg);
    fill: transparent;
    width: 100%;
  }
  #chat .chat__conversation-board__message__bubble span {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: inline-table;
    word-wrap: break-word;
    background: var(--chat-bubble-background);
    font-size: 13px;
    color: var(--chat-text-color);
    padding: 0.5em 0.8em;
    line-height: 1.5;
    border-radius: 6px;
    font-family: "Lato", sans-serif;
  }
  #chat .chat__conversation-board__message__bubble:not(:last-child) {
    margin: 0 0 0.3em;
  }
  #chat .chat__conversation-board__message__bubble:active {
    background: var(--chat-bubble-active-background);
  }
  #chat .chat__conversation-panel {
    background: var(--chat-panel-background);
    border-radius: 12px;
    padding: 0 1em;
    height: 55px;
    margin: 0.5em 0 0;
    position: sticky;
    bottom: 0;
    margin-top: 1em;
  }
  #chat .chat__conversation-panel__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
  }
  #chat .chat__conversation-panel__container .panel-item:not(:last-child) {
    margin: 0 1em 0 0;
  }
  #chat .chat__conversation-panel__button {
    background: grey;
    height: 20px;
    width: 30px;
    border: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
  }
  #chat .chat__conversation-panel .add-file-button {
    height: 23px;
    min-width: 23px;
    width: 23px;
    background: var(--chat-add-button-background);
    border-radius: 50%;
  }
  #chat .chat__conversation-panel .add-file-button svg {
    width: 70%;
    stroke: #54575c;
  }
  #chat .chat__conversation-panel .emoji-button {
    min-width: 23px;
    width: 23px;
    height: 23px;
    background: transparent;
    border-radius: 50%;
  }
  #chat .chat__conversation-panel .emoji-button svg {
    width: 100%;
    fill: transparent;
    stroke: #54575c;
  }
  #chat .chat__conversation-panel .send-message-button {
    background: var(--chat-send-button-background);
    height: 30px;
    min-width: 30px;
    border-radius: 50%;
    transition: 0.3s ease;
  }
  #chat .chat__conversation-panel .send-message-button:active {
    transform: scale(0.97);
  }
  #chat .chat__conversation-panel .send-message-button svg {
    margin: 1px -1px;
  }
  #chat .chat__conversation-panel__input {
    width: 100%;
    height: 100%;
    outline: none;
    position: relative;
    color: var(--chat-text-color);
    font-size: 13px;
    background: transparent;
    border: 0;
    font-family: "Lato", sans-serif;
    resize: none;
  }
  
  @media only screen and (max-width: var(--mobile-breakpoint)) {
    body {
        overflow: auto; /* Allow scrolling on the body */
    }

    #chat {
        max-width: 1000px;
        height: 300px; /* Adjust the height as needed */
    }

    #chat .chat__conversation-board {
        height: 200px; /* Adjust the height as needed */
    }
}

  
  
  
  
/* Main Footer Container */
.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to right, #000000, #333333);
  padding: 20px; /* Remove this line */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}


/* Main Footer Styles */
.footer {
  color: white;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Footer Content Container */
.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  gap: 15px;
}

/* Paragraph Styles */
.footer p {
  margin: 0;
  padding: 0;
}

/* Anchor (Link) Styles */
.footer a {
  color: #f1c40f;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #ffffff;
}

/* Social Media Icons */
.footer img {
  width: 20px;
  height: auto;
  margin-right: 5px;
}

