<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>The Krishna</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='chatbot.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='star.css') }}">
    </head>
    
<body>
    <img src="static/images/5851024-removebg-preview.png" alt="Left Image" class="side-image left-side">
    <!-- Your existing content goes here -->
    <img src="static/images/5851024-removebg-preview2.png" alt="Right Image" class="side-image right-side">  
    <audio id="sendSound">
        <source src="{{ url_for('static', filename='music/videoplayback.webm') }}" type="audio/webm">
        Your browser does not support the audio element.
    </audio>
    <br>
    <br>
    <div class="stars">
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    </div>  
    <div class="--dark-theme" id="chat">
        <h2><span>The</span><span>Krishna</span></h1>
        <div class="chat__conversation-board" id="message-container">
            <!-- Messages will be dynamically added here -->
        </div>
        <div class="chat__conversation-panel">
            <div class="chat__conversation-panel__container">
                <input id="user-input" class="chat__conversation-panel__input panel-item" placeholder="Type a message..." required onkeydown="handleKeyDown(event)" />
                <button onclick="sendMessage()" class="chat__conversation-panel__button panel-item btn-icon send-message-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                        <line x1="22" y1="2" x2="11" y2="13"></line>
                        <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="footer-container">
        <div class="footer">
            <footer>
                <div class="footer-content">
                    <p>&copy; 2024 The Krishna. All rights reserved.</p>
                    <p>Developed by Amol Londhe | Integrated by AgroTech</p>
                    <button onclick="toggleMusic()" class="btn-icon music-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            aria-hidden="true">
                            <rect x="2" y="2" width="20" height="20" rx="2.5" ry="2.5"></rect>
                            <polygon points="9 15 16 9 9 3"></polygon>
                        </svg>
                    </button>
                </div>
            </footer>
        </div>
    </div>
    <script>
        if (window.innerWidth <= 600) {
            document.body.classList.add('mobile-view');
        }
        function sendMessage() {
            var userInput = document.getElementById('user-input').value;
    
            // Display the user's message on the right side
            displayMessage({
                text: userInput,
                reversed: true // Set to true for user messages
            });
    
            // Send user input to the server
            fetch('/send_message', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    user_input: userInput
                }),
            })
            .then(response => response.json())
            .then(data => {
                // Simulate typing delay for the chatbot's message
                setTimeout(function () {
                    // Update the message object to display on the left side
                    data.chatbot_message.reversed = false;
                    // Add the received message to the chat
                    displayMessage(data.chatbot_message);
                }, 1000); // Adjust the delay duration as needed
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    
            // Clear the user input field
            document.getElementById('user-input').value = '';
        }
    
        // Display a message in the chat
        function displayMessage(message) {
            var messageContainer = document.getElementById('message-container');
    
            var messageHTML = '<div class="chat__conversation-board__message-container ' +
                (message.reversed ? 'reversed' : '') + '">' +
                '<div class="chat__conversation-board__message__context">' +
                '<div class="chat__conversation-board__message__bubble">' +
                '<span>' + message.text + '</span>' +
                '</div>' +
                '</div>' +
                '<div class="chat__conversation-board__message__options">' +
                '<button class="btn-icon chat__conversation-board__message__option-button option-item emoji-button">' +
                '<svg class="feather feather-smile sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">' +
                '<circle cx="12" cy="12" r="10"></circle>' +
                '<path d="M8 14s1.5 2 4 2 4-2 4-2"></path>' +
                '<line x1="9" y1="9" x2="9.01" y2="9"></line>' +
                '<line x1="15" y1="9" x2="15.01" y2="9"></line>' +
                '</svg>' +
                '</button>' +
                '<button class="btn-icon chat__conversation-board__message__option-button option-item more-button">' +
                '<svg class="feather feather-more-horizontal sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">' +
                '<circle cx="12" cy="12" r="1"></circle>' +
                '<circle cx="19" cy="12" r="1"></circle>' +
                '<circle cx="5" cy="12" r="1"></circle>' +
                '</svg>' +
                '</button>' +
                '</div>' +
                '</div>';
    
            messageContainer.innerHTML += messageHTML;
    
            // Scroll to the bottom of the chat container to show the latest message
            messageContainer.scrollTop = messageContainer.scrollHeight;
        }
        function handleKeyDown(event) {
            // Check if the pressed key is Enter (key code 13)
            if (event.keyCode === 13) {
                // Prevent the default behavior of the Enter key (e.g., adding a newline)
                event.preventDefault();
                
                // Call the sendMessage function
                sendMessage();
            }
        }

        function toggleMusic() {
            var sendSound = document.getElementById('sendSound');
            if (sendSound.paused) {
                sendSound.play();
            } else {
                sendSound.pause();
            }
        }
    </script>    

</body>

</html>
