<!DOCTYPE html>
	<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Glass Food Website</title>
	    <!-- Icons -->
	    <link rel="stylesheet"
	    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
	    <!-- Link To CSS -->
	    <link rel="stylesheet" href="/static/style.css">
	</head>
	<body>
	    <!-- Main -->
	    <section id="main">
	        <!-- Glass Box -->
	        <div class="main-box">
	            <!-- Navbar -->
	            <nav>

	            </nav>
	            <!-- Main Content -->
	            <div class="main-content">
	                <!-- Main Text -->
	                <div class="main-text">
						<!--Namaste ICON -->
							<img src="/static/images/namaste.svg" alt="icone" height="90px" width="90px">
					
	                    <h1>Dear Devotee<br>I am Vasudev Krishna</h1>
	                    <h2>Welcome to My universe</h2>
	                    <p>In the universe created by Vasudev Krishna, each visit is a journey into opulence and refinement. <br>Explore the unique charm of this space, where every nuance is designed to captivate the senses. <br>Sint voluptas distinctio perspiciatis aspernatur</p>
	                    <!-- Buttons -->
	                    <a href="/chatbot" class="btn1">Start journey with me</a>
	                    <a href="#" class="btn2">About-me</a>
	                </div>
	                <!-- Image -->
	                <div class="main-img">
						<div class="kimg">
							<img src="/static/images/krishna.jpeg" alt="img">
						</div>
	                    
	                </div>
	            </div>
	        </div>
	    </section>
	    <!-- circles -->
	    <div class="circle1"></div>
	    <div class="circle2"></div>
	</body>
	</html>